@media (max-width: 768px) { 
    .top-bar{
        display: none;
    }
   .header-menu{
        display: none !important;
    }
    .header-menu-mobile{
        justify-content: center;
        display: flex;
        height: 60px;
        align-items: center;
        position: relative;
    }
    .nav_bar_mobile {
        position: absolute;
        left: 15px;
    }
    .header-menu-mobile .logo_mobile img{
        height: 58px;
    }
    .search_delivery{
        margin: 40px 0;
    }
    .search_delivery .search_in{
        padding: 20px;
    }
    .box_service {
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);

    }
    .about_me .title{
        flex-wrap: wrap;
    }
    .about_me .title h2{
        font-size: 31px;
    }
    .about_me .intro_title{
        padding: 0;
        margin-top: 30px;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
    }
    .criteria{
        margin-top: 135px;
        flex-direction: column-reverse;
    }
    .criteria_box .criteria_box_quote .img img{
        width: 100%;
    }
    .criteria_box{
        padding: 0 !important;
    }
    .criteria_box .criteria_box_quote .quote{
        right: 5%;
        top: -110px;
        width: 90%;
    }
    .criteria .criteria_text{
        margin-top: 40px;
    }
    .criteria .criteria_text .icon{
        padding: 0;
    }
    .criteria .criteria_text .icon hr{
        display: none;
    }
    .criteria .criteria_text{
        flex-wrap: wrap;
    }
    .criteria .criteria_text .icon img{
        width: 52px;
    }
    .criteria .criteria_text .icon .text_title{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .criteria .criteria_text .icon .text_title h2{
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        color: #13171B;
    }
    .criteria .criteria_text .icon .text_title span{
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        color: #4B5D6B;
    }
    .criteria .view_all{
        margin: 40px 0 0 0;
    }
    .about_me .criteria .criteria_text .text{
        align-items: start;
        padding: 0;
    }
    .banner_midhome{
        grid-template-columns: repeat(2, 1fr);
        padding: 60px 15px;
    }
    #contact h2{
        font-size: 30px
    }
    h3.tp_title{
        font-size: 17px;
    }
    .arrow hr.right{
        width: 105px;
    }
    #contact .text_contact{
        font-size: 17px;
        margin-bottom: 40px;
    }
    #contact .brand img{
        width: 160px;
        height: 53px;
    }
    #Blog{
        padding: 60px 0;
    }
    #Blog h2{
        font-size: 32px;
    }
    #Blog .title .button_view_all{
        display: none;
    }
    #Blog .box_blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer_mid{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .footer_top{
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .footer_top .item_footer{
        width: 100%;
        text-align: start;
    }
    .footer .footer_top .logo img{
        margin-left: 35px;
    }
    .footer .footer_top .item_footer:nth-child(n+2) {
        grid-auto-flow: column;
        align-items: center;
        grid-template-columns: max-content;
        gap: 15px;
    }
    .footer .footer_top .item_footer:nth-child(n+2) h3{
        text-align: start;
    }
    .footer_mid .list_footer_mid .map,.footer_mid .list_footer_mid .hotline{
        margin-top: 20px;
    }
    .footer_mid .list_footer_mid .connect_email{
        width: 100%;
    }
    .footer_mid .list_footer_mid .connect_email {
        width: 90%;
    }
    .footer_mid .list_footer_mid .connect_email .wrapper_connect{
        display: grid;
    }
    .footer_mid .list_footer_mid{
        margin-top: 40px;
    }
    .footer_mid .list_footer_mid h3{
        font-size: 24px;
    }
    .title_breadcrumb h2{
        font-size: 26px;
    }
    .title_breadcrumb .nav a{
        font-size: 16px;
    }
    .breadcrumb_service{
        height: 200px;
    }
    .body_service .all_service .title_service .title{
        flex-wrap: wrap;
    }
    .body_service .intro_title{
        padding: 0;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        color: #4B5D6B;
        margin-top: 35px;
    }
    .all_service .title_service .title h2{
        font-size: 32px;
    }
    .all_service .title_service .title{
        flex-wrap: wrap;
    }
    .all_service .title_service .button_view_all{
        margin: 30px 0 40px 0;
        justify-content: start;
        padding: 0;
    }
    .all_service .title_service .button_view_all a {
        padding: 15px 19px;
        color: #FFFFFF;
        background: #C5291E;
    }
    #aboutme{
        margin-top: 80px;
    }
    #aboutme .newsletter{
        margin: 0;
    }
    #aboutme .newsletter h2{
        font-size: 21px;
    }
    #aboutme .signature{
        margin-top: 10px;
    }
    .carriage{
        margin-top: 80px;
    }
    .carriage .left_column .price_list{
        width: 100%;
    }
    .carriage .right_column .sidebar_top ul{
        margin-top: 25px;
    }
    .blog_category h3.tp_title{
        text-align: start;
    }
    .blog_category h2{
        text-align: start;
    }
    .blog_category .arrow {
        margin: 15px 0;
    }
    #grow_up h2{
        font-size: 30px;
    }
    .progresss .dashed{
        display: none;
    }
    .progresss .progress_item .mid{
        position: unset;
        transform: unset;
        order: 1;
    }
    .progresss .progress_item .right{
        order: 2;
    }
    .progresss .progress_item .left{
        order: 3;
    }
    .progresss .progress_item{
        flex-direction: column;
        gap: 15px;
    }
    .progresss .progress_item .right .date{
        justify-content: center;
    }
    #grow_up{
        padding: 40px 0;
    }
    .cacl_postage .cp .grid_wg {
        grid-template-columns: repeat(3, 1fr);
    }
    .fill_text .form_group_from{
        grid-template-columns: repeat(1, 1fr);
    }
    #contact .contact,.fill_text .form_group_contact{
        grid-template-columns: repeat(1, 1fr);
    }
    #contact .map .mp {
        flex-wrap: wrap;
    }
    #contact .map .mp .iframe_vp{
        padding: 0;
    }
}
@media (min-width: 769px) { 
    .header-menu-mobile{
        display: none;
    }
}
@media(max-width: 1450px){
    .header-menu .main_menu ul li a{
        font-size: 12px;
    }
}
@media(max-width: 1330px){
    .header-menu .main_menu ul li a{
        font-size: 11px;
    }
}