@media (max-width: 768px) { 
    .top-bar{
        display: none;
    }
   .header-menu{
        display: none !important;
    }
    .header-menu-mobile{
        justify-content: center;
        display: flex;
        height: 60px;
        align-items: center;
        position: relative;
    }
    .nav_bar_mobile {
        position: absolute;
        left: 15px;
    }
    .header-menu-mobile .logo_mobile img{
        height: 60px;
    }
    .search_delivery{
        margin: 40px 0;
    }
    .search_delivery .search_in{
        padding: 20px;
    }
    .box_service {
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);

    }


}
@media (min-width: 769px) { 
    .header-menu-mobile{
        display: none;
    }
}