@media (max-width: 768px) { 
    .top-bar{
        display: none;
    }
   .header-menu{
        display: none !important;
    }
    .header-menu-mobile{
        justify-content: center;
        display: flex;
        height: 60px;
        align-items: center;
        position: relative;
    }
    .nav_bar_mobile {
        position: absolute;
        left: 15px;
    }
    .header-menu-mobile .logo_mobile img{
        height: 60px;
    }
    .search_delivery{
        margin: 40px 0;
    }
    .search_delivery .search_in{
        padding: 20px;
    }
    .box_service {
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);

    }
    .about_me .title{
        flex-wrap: wrap;
    }
    .about_me .title h2{
        font-size: 31px;
    }
    .about_me .intro_title{
        padding: 0;
        margin-top: 30px;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
    }
    .criteria{
        margin-top: 135px;
        flex-direction: column-reverse;
    }
    .criteria_box .criteria_box_quote .img img{
        width: 100%;
    }
    .criteria_box{
        padding: 0 !important;
    }
    .criteria_box .criteria_box_quote .quote{
        right: 5%;
        top: -110px;
        width: 90%;
    }
    .criteria .criteria_text{
        margin-top: 40px;
    }
    .criteria .criteria_text .icon{
        padding: 0;
    }
    .criteria .criteria_text .icon hr{
        display: none;
    }
    .criteria .criteria_text{
        flex-wrap: wrap;
    }
    .criteria .criteria_text .icon img{
        width: 52px;
    }
    .criteria .criteria_text .icon .text_title{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .criteria .criteria_text .icon .text_title h2{
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        color: #13171B;
    }
    .criteria .criteria_text .icon .text_title span{
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        color: #4B5D6B;
    }
    .criteria .view_all{
        margin: 40px 0 0 0;
    }
    .about_me .criteria .criteria_text .text{
        align-items: start;
        padding: 0;
    }
    .banner_midhome{
        grid-template-columns: repeat(2, 1fr);
        padding: 60px 15px;
    }
    #contact h2{
        font-size: 30px
    }
    h3.tp_title{
        font-size: 17px;
    }
    .arrow hr.right{
        width: 105px;
    }
    #contact .text_contact{
        font-size: 17px;
        margin-bottom: 40px;
    }
    #contact .brand img{
        width: 160px;
        height: 53px;
    }
    #Blog{
        padding: 60px 0;
    }
    #Blog h2{
        font-size: 32px;
    }
    #Blog .title .button_view_all{
        display: none;
    }
    #Blog .box_blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer_mid{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .footer_top{
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .footer_top .item_footer{
        text-align: start;
    }
    .footer .footer_top .item_footer:nth-child(n+2) {
        grid-auto-flow: column;
        align-items: center;
        grid-template-columns: max-content;
        gap: 15px;
    }
    .footer .footer_top .item_footer:nth-child(n+2) h3{
        text-align: start;
    }
    .footer_mid .list_footer_mid .map,.footer_mid .list_footer_mid .hotline{
        margin-top: 20px;
    }
    .footer_mid .list_footer_mid .connect_email{
        width: 100%;
    }
    .footer_mid .list_footer_mid .connect_email {
        width: 90%;
    }
    .footer_mid .list_footer_mid .connect_email .wrapper_connect{
        display: grid;
    }
    .footer_mid .list_footer_mid{
        margin-top: 40px;
    }
    .footer_mid .list_footer_mid h3{
        font-size: 24px;
    }
}
@media (min-width: 769px) { 
    .header-menu-mobile{
        display: none;
    }
}
@media(max-width: 1450px){
    .header-menu .main_menu ul li a{
        font-size: 12px;
    }
}
@media(max-width: 1330px){
    .header-menu .main_menu ul li a{
        font-size: 11px;
    }
}