/*:root {*/

/*  --primary-button: ;*/
/*  --primary-text-button: ;*/
/*  --primary-button-hover: ;*/
/*  --primary-text-hover: ;*/
/*  --primary-text-h1: ;*/
/*  --primary-button-h2: ;*/
/*  --primary-text-h2: ;*/

/*}*/
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fBeVietnamPro-Bold.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(BeVietnamPro-SemiBold.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(BeVietnamPro-Medium.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(BeVietnamPro-Light.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(BeVietnamPro-Regular.ttf);
}
body {
  font-family: 'BeVietnamPro' !important;
  margin: 0;
}
body a{
  text-decoration: none !important;
}
@media (min-width: 1200px){
  .container, .container-fluid{
    margin: 0 310.5px;
    padding: 0 15px;
  }
  .container-fluid {
    padding: 0 35px !important;
  }
}
@media (max-width: 1200px){
  .container,.container-fluid {
    max-width: 100% !important;
    padding: 0 15px;
  }
  ul.menu-center_ul{
    gap: unset !important;
  }
  ul.header-right_ul{
    gap: 10px !important;
  }
  i.fas.fa-search.item-search{
    margin-left: 5px !important;
  }
}
@media(max-width: 992px){
  .header-menu .logo-pc{
    padding: 15px 0 !important;
  }
  .header-menu i{
    top: 40%;
  }
  .txt_benner-home {
    padding: 20px !important;
    width: 200px !important;
    bottom: 0 !important;
  }
  .footer_content {
    padding: 0 !important;
  }
  .txt-banner-top p {
    font-size: 13px !important;
  }
  .txt-banner-bottom span {
    display: none;
  }

  .txt-banner-top h3 {
    font-size: 14px !important;
    line-height: 0 !important;
  }
  .content-services span{
    background: rgba(0,0,0,0);
    padding: 12px;
    border-radius: 50%;
    color: #fff;
  }
  .content-blog span{
    background: rgba(0,0,0,0);
    padding: 12px;
    border-radius: 50%;
    color: #000;
  }
  .content-services,.content-blog {
    position: relative;
  }
  .content-services .owl-nav,
  .content-blog .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50% !important;
    width: 100%;
  }
  .content-services .owl-nav button,
  .content-blog .owl-nav button{
    width: fit-content;
    outline: none;
  }
  .story_about {
    padding: 35px 0 !important;
  }
  .content_blog{
    padding: 10px 15px !important;
  }
  .content_blog h3 {
    padding-right: 0 !important;
    font-size: 12px !important;
  }
  .txt-services-bottom button{
    padding: 15px 60px !important;
  }
  .footer{
    flex-wrap: wrap;
  }
  .appointment {
    width: 100%;
    text-align: center;
  }
  .appointment form {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .footer_content{
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .menu_d-none {
    display: none !important;
  }
  i.fas.fa-bars.nav-bar{
    display: block !important;
  }
  .col-inner .div-text {
    display: none;
  }
  .headtitle::before {
    content: "+";
    position: absolute;
    right: 0;
    padding: 0 10px;
  }
  .minus::before {
    content: "-";
    padding: 0 10px;
  }
  .logo_about {
    padding-top: 0 !important;
    padding-bottom: 80px;
  }
  /*.header-menu_center {*/
  /*  display: none;*/
  /*}*/
  .txt-header--left h3 {
    font-size: 10px !important;
  }
  .top-bar {
    justify-content: center !important;
  }
  .title_collection-bottom h3{
    font-size: 30px !important;
    line-height: 40px !important;
  }
}
body li{
  list-style: none;
}
body p{
  margin: 0;
}
.txt-header--left h3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 0;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 36px;
  background: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul.header-right_ul {
  display: flex;
  gap: 64px;
  margin: 0;
}
.logo-pc {
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}

ul.menu-center_ul {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 28px;
  margin: 0;
  padding-left: 0;
}

li.menu_item--bottom a {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
}

.logo-pc img {
  width: 150px;
  height: 65px;
}
li.menu-item--top a {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
i.fas.fa-search.item-search {
  color: #fff;
  margin-left: 16px;
  font-size: 12px;
}
.menu_lv1 {
  padding-top: 28px;
}
ul.menu_lv1_ul {
  padding: 0;
}
.img-lv1 img {
  width: 248px;
  height: 175px;
}
p.title_ul_lv1 {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
}
.menu_lv1-left p, .menu_lv1-left li {
  padding-bottom: 16px;
}
.menu_item--bottom:hover > ul.groupmenu-drop{
  display: block;
}
ul.groupmenu-drop{
  display: none;
}
.menu_lv1_hover {
  display: flex;
  justify-content: space-between;
}

li.menu_item--bottom:hover >a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  z-index: 4;
}
ul.groupmenu-drop.slidedown {
  padding: 0 0 20px 0;
  z-index: 3;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
}
/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
}

.footer_content.col-lg-7 {
  display: flex;
}

.footer {
  padding: 64px 0;
}

footer {
  background: #F8F7F5;
}

p.appointment {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #000000;
}

h3.headtitle {
  margin: 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  position: relative;
}
.div-text ul {
  padding: 0;
  margin-top: 32px;
}
input#email {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: navajowhite;
  background: rgba(0,0,0,0);
  border-bottom: 1px solid;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}
input#email::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
}
.appointment form {
  width: 410px;
  position: relative;
}
.appointment button {
  padding: 12px 91px;
  background: #000000;
  border: 0.5px solid #000000;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: fit-content;
}
.icon-user{
  position: absolute;
  top: 30px;
  right: 0;
}
.div-text ul li a{
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 17px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
}
i.fas.fa-bars.nav-bar {
  color: #fff;
}
.menu_d-none {
  display: block;
}
i.fas.fa-bars.nav-bar{
  display: none;
}
/*css_menumobile*/
.modal_menu-mobile {
  position: fixed;
  background: rgba(0,0,0,0);
  width: 100%;
  top: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: .4s;
  z-index: 10;
}
.menu-mobile {
  height: 100%;
  background: #222236;
  width: 80%;
  overflow-y: scroll;
  position: fixed;
  z-index: 1;
}
.modal_menu-mobile.show-mobile {
  transform: translateX(0);
  transition: .4s;
}
.logo-mobile img {
  filter: invert(100%) sepia(20%) saturate(7498%) hue-rotate(186deg) brightness(108%) contrast(96%);
  width: 120px;
  height: auto;
}
.logo-mobile {
  margin-top: 20px;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 1;
}
.col-inner.minus .div-text {
  display: block;
}
.col-foo-1,.col-foo-2, .col-foo-3, .col-foo-4 {
  padding-bottom: 10px;
}
.menu-mobile ul.menu-center_ul li a {
  color: #fff;
  font-size: 18px;
}

.menu-mobile ul.menu-center_ul {
  display: block;
  padding-left: 30px;
}

.menu-mobile ul.menu-center_ul li {
  padding: 10px;
}

.menu-mobile ul.header-right_ul {
  display: block;
  border-top: 1px solid #fff;
}

.menu-mobile ul.header-right_ul li {
  padding: 10px 0;
}

/*css main*/
.home-slider-main img {
  width: 100%;
}

.home-slider-main {
  position: relative;
}

.txt_benner-home {
  position: absolute;
  bottom: 47px;
  margin-left: 36px;
  width: 642px;
  padding: 36px;
  background: #FCFBFA;
}

.txt-banner-top h3 {
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.txt-banner-top p {
  font-weight: 200;
  font-size: 37px;
  line-height: 40px;
  color: #000000;
  font-style: italic;
}

.txt-banner-bottom span {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #000000;
}
.item-highlights {
  display: flex;
  padding: 0 15px;
  flex-wrap: wrap;
}

.pos-highlights img {
  width: 100%;
  height: 100%;
}
.title-highlights {
  padding: 36px 15px 24px 15px;
}

.title-highlights h3,
.title-services h3,
.text-about h3{
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #000000;
}

.title-highlights p,
.title-services p,
.text-about p{
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000;
}
.home-product-tab-img img {
  width: 100%;
}

section.home-product-tab {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
}
.collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px;
}
.text-services {
  padding: 36px 15px 24px 15px;
}


/*about*/
#about{
  margin-top: 95px;
}
#about .title{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
#about .title .about_title{
  font-family: 'SVN-Freight Display';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 50px;
  /* identical to box height, or 89% */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #000000;
}
#about .content_about .about_item h3{
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  margin-bottom: 25px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}
#about .content_about .about_item .content_item{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-family: 'Be Vietnam Pro';
  color: #000000;
}
#about .content_about .about_item{
  margin-bottom: 40px;
}
#about .content_about .about_item:last-child{
  margin-bottom: 85px;
}
@media (max-width: 991px) {
  #about {
    margin-top: 50px;
  }
  #about .title .about_title{
    font-size: 30px;
  }
  #about .title{
    margin-bottom: 50px;
  }

}


/*end about*/

.services-item {
  position: relative;
}

.txt-services-item {
  position: absolute;
  bottom: 0;
  padding-left: 72px;
  padding-bottom: 75px;
  padding-right: 72px;
}

button {
  width: 150px;
}

.txt-services-top {
  padding-bottom: 70px;
}

h3 {}

.txt-services-top h3 {
  font-weight: 300;
  font-size: 56px;
  line-height: 50px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FCFBFA;
  margin-bottom: 8px;
}

.txt-services-top p {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #FCFBFA;
}

button {}

.txt-services-bottom button {
  width: 100%;
  padding: 15px 90px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  background: rgba(0,0,0,0);
  border: 1px solid #ccc;
}
.content-about{
  display: flex;
  flex-wrap: wrap;
}
.about-right img {
  width: 100%;
}
.about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #FCFBFA;
  background: #000;
}
.about-right {
  padding: 0 !important;
}
@media(max-width: 1200px){
  .logo_about {
    padding-top: 180px;
  }
}
@media(min-width: 1200px){
  .about-left {
    padding: 310px 115px 59px 115px;
  }
}
@media(min-width: 1500px){
  .about-left {
    padding: 385px 115px 59px 115px;
  }
}
.logo_about img {
  width: 154px;
  height: 67px;
}
.title-about {
  padding-top: 36px;
  padding-bottom: 24px;
}
.story_about {
  padding: 0 135px;
}
/*css blog*/

.blog_item {
  position: relative;
}

.story_blog {
  position: absolute;
  bottom: 0;
  padding-left: 121px;
}
.content_blog {
  padding: 48px 36px 0 36px;
  background: #fff;
}
.content_blog h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}
p.tl{
  font-style: italic;
  padding-bottom: 32px;
}
.content_join_team {
  padding-top: 128px;
  width: 640px;
  padding-bottom: 134px;
}

.title_team {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

section.join_team {
  margin-top: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.btn_team {
  margin-top: 72px;
}

.btn_team button {
  background: #000000;
  border: 0.5px solid #000000;
  padding: 12px 64px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #fff;
  width: fit-content;
}
.content_join_team p {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.title_team h3 {
  font-weight: 400;
  font-size: 56px;
  line-height: 50px;
}

.title_team i {
  font-size: 42px;
}

.content_join_team span {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
.pos-highlights {
  padding: 0 !important;
}
.title-blog {
  padding-top: 72px;
  padding-bottom: 36px;
}
.title_collection-bottom p {
  font-weight: 400;
  font-size: 39px;
  line-height: 40px;
  font-style: italic;
  padding-bottom: 16px;
}
.collection {
  padding: 0 36px;
}
.title_collection-bottom h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;
}
.header-menu {
  position: relative;
}

i.fas.fa-bars.nav-bar {
  position: absolute;
  right: 0;
  color: #000;
  top: 40%;
  font-size: 28px;
}
.item-highlights .pos-highlights:first-child {
  padding-right: 6px !important;
}

.item-highlights .pos-highlights:nth-child(2) {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.item-highlights .pos-highlights:last-child {
  padding-left: 6px !important;
}
p.r-more {
  padding-top: 40px;
  width: fit-content;
  border-bottom: 1px solid;
}
p.r-more a {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}
/*///popup*/
div#popupHome {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.4);
}
.modal-dialog {
  top: 50%;
  left: 50%;
  width: fit-content !important;
  transform: translate(-50%, -50%);
  max-width: unset !important;
  margin: unset !important;
}
.modal-content {
  padding: 88px 96px;
}
.modal-body {
  max-width: 640px;
}
.title-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  text-align: center;
}
.title-popup h3{
  margin: 0;
}

.title-popup i {
  font-size: 28px;
  margin: 0 4px;
}

.title-popup i {
  font-size: 28px;
  margin: 0 4px;
}

.form-popup {
  padding: 80px 80px 0 80px;
}

.form-popup input {
  width: 100%;
}

.form-popup input {
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid;
}
.btn-form-poup {
  display: flex;
  margin-top: 83px;
  justify-content: space-between;
}

.claim {
  padding: 12px 75px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.thks {
  padding: 12px 75px;
  border: 1px solid;
  cursor: pointer;
}

.form-popup form {
  position: relative;
}

.form-popup .icon-user {
  position: absolute;
  top: 14px;
  right: 0;
  font-size: 13px;
}
.close-poup {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 22px;
  cursor: pointer;
}
/*view-cart*/
.show_cart {
  position: fixed;
  top: 56px;
  right: 0;
  width: auto;
  background: #F8F7F5;
  height: 100%;
  overflow: auto;
  z-index: 1000;
}

.shop-cart-sidebar-yes {
  display: flex;
  gap: 39px;
  padding: 24px 0;
  border-bottom: 1px solid;
}

.shop_cart-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pro-title-view {
  display: flex;
  justify-content: space-between;
  gap: 137px;
}

.pro-price-view {
  display: flex;
  justify-content: space-between;
}

.shop-cart-sidebar-yes .img img {
  width: 136px;
  height: 181px;
}

.shop-cart-sidebar-body {
  padding: 72px 36px;
}
.shop-cart-sidebar-body h3 {
  margin: 0;
}
.header.scroll {
  position: fixed;
  top: 0;
  z-index: 9;
  right: 0;
  left: 0;
  animation: stuckMoveDown .6s;
  background: #fff;
}
@-webkit-keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.show_cart{
  transform: translateX(100%);
  transition: .4s;
}
.show_cart.active {
  transform: translateX(0);
  transition: .4s;
}


/*shop_lecia*/
#shop_lecia .filter_shop {
  padding: 0 400px !important;
  margin: 75px 0 85px 0;
}
#shop_lecia .filter_shop .title h2{
  font-family: 'SVN-Freight Display';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 50px;
  /* identical to box height, or 89% */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Lecia Black */
  margin-bottom: 15px;
  color: #000000;
}
#shop_lecia .filter_shop .title h2 span{
  font-family: 'SVN-Freight Display';
  font-style: italic;
  font-weight: 300;
  font-size: 52px;
  line-height: 50px;
  /* identical to box height, or 89% */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Lecia Black */

  color: #000000;
}
#shop_lecia .filter_shop .title p{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  /* or 179% */

  text-align: center;
  letter-spacing: 0.02em;

  /* Lecia Black */

  color: #000000;
}
#shop_lecia .filter_shop .filter {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#shop_lecia .filter_shop .filter span{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Lecia Black */

  color: #000000;
}
#shop_lecia .filter_shop .filter .plus{
  cursor: pointer;
  font-size: 25px;
}
@media (max-width: 992px) {
  #shop_lecia .filter_shop{
    padding: 0 15px !important;
  }
  #shop_lecia .filter_shop .title h2{
    font-size: 24px;
  }
  #shop_lecia .filter_shop .title p{
    font-size: 14px;
  }
  .scroll .header-menu .logo-pc {
    display: block !important;
  }
}
/*view_shop*/
#view_shop_lecia .product_view_title {
  margin-top: 40px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 200px;
}
#view_shop_lecia .product_view_title .name .name_pt{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.02em;
}
#view_shop_lecia .product_view_title .name .sku{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
#view_shop_lecia .product_view_title .price .price_pt{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #000000;
}
/*----- Content of Tabs -----*/
.tab {
  display:none;
}
.tab.active {
  display:block;
}
#view_shop_lecia .product_view_content ul.tab-links {
  padding: 0;
  display: flex;
  gap: 80px;
  margin-bottom: 25px;
}
#view_shop_lecia .product_view_content ul.tab-links li.active a{
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
#view_shop_lecia .product_view_content ul.tab-links li.active a{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;

}
#view_shop_lecia .product_view_content ul.tab-links li a {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #868686;
}
#view_shop_lecia .product_view_content{
  margin-bottom: 200px;
}
#view_shop_lecia .content_button {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
#view_shop_lecia .content_button .wishlist {
  text-align: end;
}
#view_shop_lecia .content_button .wishlist i{
  color: #C1C1C1;
  font-size: 25px;
}
#view_shop_lecia .content_button .button_cart {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#view_shop_lecia .content_button .button_cart a{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding: 12px 128px;
}
#view_shop_lecia .content_button .button_cart a.add_cart{
  background: #000000;
}
#view_shop_lecia .content_button .button_cart a.add_wishlist{
  color: #000000;
  border: 1px solid #000000;
}
#view_shop_lecia .product_view_related h3.title_related{
  padding-top: 125px;
  font-family: 'SVN-Freight Display';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 50px;
  /* identical to box height, or 89% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #000000;
}
#view_shop_lecia .product_view_related .product_items .title_price {
  position: absolute;
  bottom: 5%;
  text-align: center;
  width: 100%;
}
#view_shop_lecia .product_view_related .product_items{
  flex-wrap: wrap;
  display: flex;
  padding-bottom: 35px;
}
#view_shop_lecia .product_view_related .product_items .item a{
  position: relative;
}
#view_shop_lecia .product_view_related .product_items .item h3{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
}
#view_shop_lecia .product_view_related .product_items .item .price {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #000000;
}
#view_shop_lecia .product_view_related h3 span{
  font-family: 'SVN-Freight Display';
  font-style: italic;
  font-weight: 300;
  font-size: 56px;
  line-height: 50px;
  /* identical to box height, or 89% */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Lecia Black */

  color: #000000;
}
#view_shop_lecia .product_view_related{
  background: #F8F7F5;
  margin-bottom: 10px;
}
.product_items {
  padding-top: 65px;
}
.scroll .header-menu .logo-pc {
  display: none;
}
div#filter_popup .list_filter{
  margin: 64px;
  text-align: center;
}
div#filter_popup .filter_category.first{
  margin-top: 65px;
}
div#filter_popup .filter_category h3{
  margin-bottom: 15px;
  font-family: 'SVN-Freight Display';
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
div#filter_popup .filter_category .list ul{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 64px;
}
div#filter_popup .filter_category .list ul li a{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* Lecia Black */

  color: #000000;

}
div#filter_popup .list_filter h2{
  font-family: 'SVN-Freight Display';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 50px;
  /* identical to box height, or 89% */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Lecia Black */

  color: #000000;
}
div#filter_popup .list_filter .pra_filter{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */

  text-align: center;
  letter-spacing: 0.02em;

  /* Lecia Black */
  margin-top: 15px;
  color: #000000;
}
.apply_filter{
  margin: 65px 0;
}
.apply_filter a{
  padding: 12px 64px;
  background: #000000;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
}
.filter_popup_shop::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.filter_popup_shop::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.filter_popup_shop::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
div#filter_popup .btn_close{
  top: 2%;
  right: 3%;
  position: absolute;
  cursor: pointer;
}
div#filter_popup .btn_close i{
  font-size: 30px;
}
div#filter_popup.active{
  display: block;
}
#shop_lecia .product_items {
  display: flex;
  flex-wrap: wrap;
}
img{
  width: 100%;
}
#shop_lecia .item.item_big {
  display: flex;
  flex-wrap: wrap;
}
#shop_lecia .product_items a{
  position: relative;
}
#shop_lecia .product_items a .title_price {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 5%;
}
#shop_lecia .product_items a h3{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
}
#shop_lecia .product_items a .price{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.01em;

  /* Lecia Black */

  color: #000000;
}
#shop_lecia .product_items a .wishlist{
  top: 2%;
  z-index: 1;
  position: absolute;
  right: 4%;
}
#shop_lecia .product_items .item{
  padding-bottom: 30px;
}
#shop_lecia .product_items .item_big .item:nth-of-type(2n+1){
  padding-left: 0;
}
#shop_lecia .product_items .item_big .item:nth-of-type(2n+2){
  padding-right: 0;
}
#shop_lecia .product_items a .wishlist i{
  color: #C1C1C1;
  font-size: 25px;
}
.paginator {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 80px;
  margin-top: 45px;
}
.paginator .page_number:first-child{
  display: none;
}
.paginator .page_number:nth-child(2) a{
  border-bottom: 1px solid;
}
.paginator .page_number a{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}
.subtotal {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.qtt {
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
}

.btn-check_out {
  text-align: center;
}
.btn-check_out button {
  padding: 12px 150px;
  width: fit-content;
  background: #000;
  color: #fff;
}
.show_cart::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.show_cart::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.show_cart::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
input.qty-btn {
  float: left;
  background-color: #f8f7f5;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  height: 40px;
  width: 32px;
  text-align: center;
  color: #666;
  border-radius: 0;
}

input#quantity {
  background: #f8f7f5;
  font-weight: 600;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 15px;
  border: none;
  border-radius: 1px;
  float: left;
  -webkit-appearance: none;
}
.remove_link.remove-cart.removePro {
  cursor: pointer;
}
.menu-item--top.color {
  position: inherit;
  z-index: 9999;
}
div#filter_popup {
  overflow-y: auto;
  height: 100%;
  right: 0;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  background: rgba(0,0,0, .4);
  width: 100%;
  margin: 0 auto;
  z-index: 999;
}
.filter_popup_shop {
  position: absolute;
  width: 35%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-width: 840px){
  .modal-dialog {
    width: 100% !important;
  }
  .modal-content {
    padding: 44px 47px;
  }
  .form-popup {
     padding: 0;
  }
}
@media(max-width: 570px){
  .claim, .thks {
    padding: 12px 20px;
  }
  .title-popup h3 {
    font-size: 13px;
    font-weight: 700;
  }
  .title-popup i {
    font-size: 16px;
  }
  .modal-content {
    padding: 20px;
  }
  .btn-form-poup {
    margin-top: 30px;
  }
}