/*:root {*/

/*  --primary-button: ;*/
/*  --primary-text-button: ;*/
/*  --primary-button-hover: ;*/
/*  --primary-text-hover: ;*/
/*  --primary-text-h1: ;*/
/*  --primary-button-h2: ;*/
/*  --primary-text-h2: ;*/

/*}*/
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(OpenSans-Medium.ttf);
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(OpenSans-Light.ttf);
}
@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  font-display: swap;
  src: url(OpenSans-Italic.ttf);
}
body {
  font-family: 'OpenSans' !important;
  margin: 0;
}
body a{
  text-decoration: none !important;
}
@media (min-width: 1200px){
  .container, .container-fluid{
    padding: 0 15px;
  }
  .container-fluid {
    padding: 0 35px !important;
  }
  .container {
    max-width: 1250px !important;
  }
}
@media (max-width: 1200px){
  .container,.container-fluid {
    max-width: 100% !important;
    padding: 0 15px;
  }
}
.header-menu{
  width: 100%;
  margin: 0 !important;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background: #FDF6F6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.txt-header--left {
  padding-left: 30px;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}
.txt-header--left .mail_topbar i,.txt-header--left .telephone_topbar i{
  font-size: 13px;
  color: #C5291E;
}
.txt-header--left span,.txt-header--left .telephone_topbar span{
  font-size: 15px;
}
.txt-header--left .mail_topbar{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}
.txt-header--left .telephone_topbar{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}
.header-right .menu_d-none{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 45px;
}
.header-right .header-right_registed {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}
.header-right .header-right_social {
  height: 55px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.modal_menu-mobile.show-mobile {
  transform: translateX(0);
  transition: .4s;
}
.modal_menu-mobile {
  position: fixed;
  background: rgba(0,0,0,0);
  width: 100%;
  top: 0;
  height: 100%;
  transform: translateX(100%);
  transition: .4s;
}
.menu-mobile {
  padding: 10px;
  height: 100%;
  background: #262E36;
  width: 80%;
  overflow-y: scroll;
  position: fixed;
  z-index: 999;
  right: 0;
}
.menu-mobile .logo-mobile{
  text-align: center;
}
.menu-mobile .logo-mobile img{
  width: 120px;
}
.banner_home{
  z-index: 0 !important;
}
.header-right .header-right_registed a{
  font-size: 14px;
font-style: normal;
font-weight: 400;
color: #262E36;
}
.header-right .header-right_social .icon {
  border-radius: 50%;
  border-left: 1px dashed #C5291E;
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-right .header-right_social .icon a {
  color: #333;
}
img{
  width: 100%;
}
.header-menu .menu_head_mb_desktop{
  padding-right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.main_menu .nav_bar{
  width: 90px;
}
.menu_head_mb_desktop .main_menu {
  gap: 35px;
  justify-content: end;
  align-items: center;
  height: 100%;
  grid-auto-flow: column;
  width: 100%;
  display: grid;
}
.header-menu{
  display: flex;
  height: 90px;
  background: #262E36;
  align-items: center;
}
.header-menu .logo-pc img{
  width: 150px;
  height: 70px;
}
.header-menu .logo-pc {
  padding-left: 40px;
}
.header-menu .main_menu ul{
  justify-content: center;
  margin-bottom: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 30px;
}
.header-menu .main_menu ul li{
  list-style: none;
}
.header-menu .main_menu ul li.menu_item ul.sub_menu{
  padding-top: 10px !important;
  z-index: 9999;
  padding: 0;
  visibility: hidden;
  display: none;
  opacity: 0;
  min-width: 10rem;
  position: absolute;
  transition: all 0.5s ease;
  background: #262E36;
}
.header-menu .main_menu ul li a:hover{
  color: #C5291E;
}
.header-menu .main_menu ul li.menu_item ul.sub_menu li{
  padding: 10px;
  border-bottom: 1px solid #42515E;
}
.header-menu .main_menu ul li.menu_item ul.sub_menu li a{
  font-size: 13px;
}
.header-menu .main_menu ul li.menu_item ul.sub_menu li:last-child{
  border-bottom: none;
}
.header-menu .main_menu ul li.menu_item:hover > ul.sub_menu{
  visibility: visible;
  display: block;
  opacity: 1;
}
/* .header-menu .main_menu ul li.menu_item:hover .sub_menu{
  display: block;
} */
.header-menu .main_menu ul li>ul{
  display: none;
}
.header-menu .main_menu ul li.menu_item.active a{
  color: #C5291E;
}
.header-menu .main_menu ul li.menu_item:last-child a{
  padding: 15px 20px;
justify-content: center;
align-items: center;
background-color: #C5291E;
}
.header-menu .main_menu ul li a{
  font-size: 14px;
font-style: normal;
font-weight: 600;
text-transform: uppercase;
color: #FFFFFF;
}
.header-menu .main_menu ul li a i {
  padding-left: 8px;
  font-size: 13px;
}
.search_delivery{
  margin: 60px 220px;
  background: url(img/background_delivery.png), lightgray 50% / cover no-repeat;
  background-color: #C5291E !important;
}
.search_delivery .search_in{
  padding: 30px 45px;
}
.search_delivery .search_in .title_search h3{
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
.search_delivery .search_in .title_search{
  margin-bottom: 20px;
}
.search_delivery .search_in form{
  width: 100%;
    display: flex;
    position: relative;
}
.search_delivery .search_in form input{
  width: 100%;
  outline: none;
  padding: 10px;
}
.search_delivery .search_in form .check{
  height: 100%;
  align-items: center;
  display: grid;
  position: absolute;
  right: 20px;
  grid-auto-flow: column;
  gap: 10px;
}
.search_delivery .search_in form .check p{
  margin: 0;
  font-size: 14px;
font-style: normal;
font-weight: 600;
color: #C5291E;
text-transform: uppercase;
}
.search_delivery .search_in form .check i{
  color: #C5291E;
  font-size: 13px;
}
h3.tp_title{
  text-transform: uppercase;
  font-size: 18px;
font-style: normal;
font-weight: 600;
color: #C5291E;
margin: 0;
}
.all_service .title_service .title{
  margin-top: 15px;
  justify-content: space-between;
    display: flex;
    align-items: end;
}
.all_service .title_service .title h2{
  margin: 0;
  font-size: 48px;
font-style: normal;
font-weight: 700;
color: #13171B;
padding: 0;
}
.all_service .title_service .title .button_view_all{
  display: flex;
  justify-content: end;
}
.all_service .title_service .title .button_view_all a{
  padding: 15px 19px;
  color: #FFFFFF;
  background: #C5291E;
}
.all_service .title_service .title .button_view_all a i{
  padding-left: 5px;
  font-size: 12px;
}
.arrow hr.left{
  width: 30px;
  background: #C5291E;
  height: 1.4px;
}
.arrow hr.right{
  width: 200px;
  background: #C5291E;
  height: 1.4px;
}
.arrow i{
  color: #C5291E;
  font-weight: 700;
  font-size: 13px;
}
.arrow .i_arrow{
  display: grid;
    grid-auto-flow: column;
}
.arrow{
  margin-top: 20px;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: max-content;
}
.box_home{
  margin-top: 35px;
}
.box_service{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.box_service .box_item{
  position: relative;
}
.box_service .box_item .intro_box{
  font-size: 20px;
  right: 25%;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 25px;
}
.about_me{
  margin-top: 100px;
}
.about_me .title {
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
  align-items: end;
}
.about_me .title  h2 {
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
  padding: 0;
}
.about_me .title .intro_title{
  padding: 0px 0 0 150px;
}
.about_me .title .intro_title p{
  margin: 0;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.criteria .icon hr{
  margin: 37px -22px;
  width: 80px;
  transform: rotate(90deg);
  border-top: 1px dashed #C5291E;
}
.criteria{
  margin-top: 95px;
  display: flex;
}
.criteria .criteria_text{
  display: flex;
}
.about_me .criteria .criteria_text .text{
  flex-direction: column;
  display: flex;
  grid-row-gap: 30px;
}
.about_me .criteria .criteria_text .text .text_title h2{
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  color: #13171B;
}
.about_me .criteria .criteria_text .text .text_title span{
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #4B5D6B;
}
.criteria_box .criteria_box_quote{
  position: relative;
}
.criteria_box .criteria_box_quote .img{
  text-align: end;
}
.criteria_box .criteria_box_quote .img img{
  width: 90%;
}
.criteria_box .criteria_box_quote .quote{
  display: flex;
  gap: 25px;
  right: 10%;
  position: absolute;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(0, 0, 0, 0.20);
  background: #FFF;
  border-left: 4px solid #C5291E;
  top: -55px;
  width: 70%;
  padding: 25px;
}
.criteria_box .criteria_box_quote .quote .quote_icon i{
  color: #C5291E;
  font-size: 35px;
}
.criteria_box .criteria_box_quote .quote .quote_total .quote_text{
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}
.criteria_box .criteria_box_quote .quote .quote_total .sigin{
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #C5291E;
}
.criteria_box .criteria_box_quote .quote .quote_total{
  position: relative;
}
.criteria_box .criteria_box_quote .quote .quote_total .img_opacity{
  top: 0;
  position: absolute;
  right: 0;
}
.criteria_box .criteria_box_quote .quote .quote_total .img_opacity svg{
  width: 70px;
}
.view_all{
  margin-top: 30px;
  margin-left: -60px;
  width: max-content;
}
.view_all a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  background: #13171B;
  padding: 19px 19px;
  color: #fff;
}
.view_all a i{
  padding-left: 8px;
  font-size: 13px;
}
.banner_midhome{
  padding: 70px 170px;
  margin-top: 100px;
  background-color: #C5291E;
  background-image: url("img/background_delivery.png");
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0;
}
.banner_midhome .item{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.banner_midhome .item span.number{
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  color: #FFF;
}
.banner_midhome .item span.text{
  font-size: 15px;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
}
#contact{
  margin-top: 100px;
  margin-bottom: 100px;
}
#contact .brand img{
  width: 180px;
  height: 60px;
}
#contact .title{
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#contact .intro_title{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 50px;
}
#contact h2{
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
  padding: 0;
}
#contact .text_contact{
  margin-top: 30px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #4B5D6B;
}
#contact .intro_title .brand{
  display: flex;
  justify-content: center;
}

/*blog*/
#Blog{
  background: #FDF6F6;
  padding: 80px 0;
  margin-bottom: 120px;
}
#Blog h2 {
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
  padding: 0;
}
#Blog .title {
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
#Blog .title .button_view_all {
  display: flex;
  justify-content: end;
}
#Blog .title .button_view_all a {
  padding: 15px 19px;
  color: #FFFFFF;
  background: #C5291E;
}
#Blog .title .button_view_all a i {
  padding-left: 5px;
  font-size: 12px;
}
#Blog .box_blog{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 50px;
  margin-top: 30px;
}
#Blog .box_item .img{
  position: relative;
}
#Blog .box_item .img .date{
  position: absolute;
  left: 26px;
  bottom: 0;
  background-color: #C5291E;
  transform: skew(155deg);
}
#Blog .box_item .img .date span{
  padding: 5px 25px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
}
#Blog .bot_box_item{
  background: #fff;
  padding: 15px 8px;
}
#Blog .bot_box_item .title_item h2{
  font-size: 20px;
  color: #13171B;
  font-style: normal;
  font-weight: 700;
}
#Blog .bot_box_item .intro_item p{
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #4B5D6B;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#Blog .bot_box_item .viewAll a{
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
  color: #C5291E;
}
#Blog .bot_box_item .viewAll a i{
  font-size: 12px;
  padding-left: 5px;
}
#Blog .box_blog_slide .owl-dots{
  margin-top: 30px;
}
#Blog .box_blog_slide .owl-dots button{
  outline: none;
}
#Blog .box_blog_slide .owl-dots button span{
  width: 30px;
  height: 6px;
  background: #EF999B;
  transform: skew(155deg);
}
#Blog .box_blog_slide .owl-dots button.active span{
  background: #C5291E;
  transform: skew(155deg);
  width: 50px;
  height: 6px;
}
#Blog .bot_box_item .line{
  position: relative;
  align-items: center;
  display: grid;
  margin: 15px 0;
}
#Blog .bot_box_item .line .bold{
  z-index: 1;
  background: #C5291E;
  transform: skew(155deg);
  width: 50px;
  height: 6px;
}
#Blog .bot_box_item .line .dashed{
  z-index: 0;
  width: 100%;
  position: absolute;
  height: 1px;
  border-bottom: 1px dashed #9EACB6;
}
footer{
  background: #13171B;
  background-image: url(img/background_footer.png);
}
.footer .footer_top{
  padding-bottom: 45px;
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 0;
  border-bottom: 1px solid #42515E;
}
.footer .footer_top .item_footer h2{
  line-height: 1.7;
  text-align: start;
  width: 85%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #B3B3B3;
}
.footer .footer_top .item_footer h3{
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}
.footer .footer_top .logo img{
  margin-right: 60px;
  width: 125px;
  height: 60px;
}
.footer .footer_top .item_footer {
  margin: 0 auto;
  width: 90%;
  row-gap: 16px;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
}
.footer .footer_top .item_footer .logo{
  height: 70px;
}
.footer_mid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 0;
  padding: 40px 0;
}
.footer_mid .list_footer_mid{
  text-align: start;

}
.footer_mid .list_footer_mid h3{
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  color: #FFF;
}
.footer_mid .list_footer_mid hr{
  margin: 0.5rem 0;
  z-index: 1;
  background: #C5291E;
  transform: skew(155deg);
  width: 50px;
  height: 5px;
  margin-left: 0;
}
.footer_mid .list_footer_mid .map{
  width: 85%;
  align-items: start;
  display: grid;
  margin-top: 30px;
  color: #fff;
  gap: 10px;
  grid-auto-flow: column;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.footer_mid .list_footer_mid .map i{
  color: #C5291E;
  margin-top: 6px;
}
.footer_mid .list_footer_mid ul{
  gap: 10px;
  margin-top: 30px;
  padding: 0;
  display: grid;
}
.footer_mid .list_footer_mid ul li a{
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #B3B3B3;
}
.footer_mid .list_footer_mid ul li a i{
  padding-right: 6px;
  font-size: 13px;
  color: #C5291E;
}
.footer_mid .list_footer_mid .form_email{
  margin-top: 30px;
}
.footer_mid .list_footer_mid .form_email span{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #B3B3B3;
}
.footer_mid .list_footer_mid .form_email form{
  margin-top: 10px;
  position: relative;
}
.footer_mid .list_footer_mid .form_email form input {
  width: 100%;
  padding: 12px 12px;
  background: no-repeat;
  border: 1px solid #42515E;
}
.footer_mid .list_footer_mid .form_email form input::placeholder{
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #B3B3B3;
}
.footer_mid .list_footer_mid .form_email form i{
  top: 10px;
  position: absolute;
  color: #C5291E;
  font-size: 27px;
  right: 15px;
}
.footer_mid .list_footer_mid .social_footer{
  margin-top: 30px;
}
.footer_mid .list_footer_mid .social_footer h4{
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}
.footer_mid .list_footer_mid .social_footer .social_item{
  width: max-content;
  display: grid;
  grid-auto-flow: column;
}
.footer_mid .list_footer_mid .social_footer .social_item a{
  color: #B3B3B3;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 36px;
  height: 36px;
}
.footer_mid .list_footer_mid .hotline{
  margin-top: 12px;
}
.footer_mid .list_footer_mid .hotline{
  width: max-content;
  display: grid;
  margin-top: 30px;
  color: #fff;
  gap: 10px;
  grid-auto-flow: column;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.footer_mid .list_footer_mid .hotline i{
  color: #C5291E;
  margin-top: 6px;
  font-size: 17px;
}
.footer_mid .list_footer_mid .connect_email {
  width: 75%;
  border-radius: 6px;
  border: 1px dashed #4B5D6B;
  padding: 6px;
  margin-top: 30px;
}
.footer_mid .list_footer_mid .connect_email .wrapper_connect{
  padding: 15px;
  border-radius: 4px;
  background: #1C2328;
  position: relative;
}
.footer_mid .list_footer_mid .connect_email .wrapper_connect .email_mess{
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
.footer_mid .list_footer_mid .connect_email .wrapper_connect .email_name{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #B3B3B3;
}
.footer_mid .list_footer_mid .connect_email .wrapper_connect .icon_mail{
  height: 45px;
  width: 45px;
  transform: skew(165deg);
  top: 17px;
  right: -25px;
  position: absolute;
  background: #C5291E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_mid .list_footer_mid .connect_email .wrapper_connect .icon_mail i{
  color: #fff;
  font-size: 20px;
}
.copyright{
  color: #B3B3B3;
  padding: 25px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #42515E;
}
.copyright a{
  color: #C5291E;
}
.breadcrumb_service{
  height: 300px;
  position: relative;
}
.body_service {
  margin-top: 100px;
}
.body_service .title .intro_title {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #4B5D6B;
  padding: 0px 0 0 150px;
}
#breadcrumb{
  background-color: #13171B;
}
.title_breadcrumb {
  position: absolute;
  top: 33%;
}
.title_breadcrumb h2{
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
.title_breadcrumb .nav{
  gap: 10px;
  align-items: center;
}
.title_breadcrumb .nav a{
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #B3B3B3;
}
.title_breadcrumb .nav i{
  color: #C5291E;
  font-size: 13px;
}

#aboutme{
  margin-top: 120px;
}
#aboutme .newsletter {
  margin: 0 200px;
}
#aboutme .newsletter h2{
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  color: #C5291E;
  text-align: center;
}
#aboutme .newsletter p.pra{
  margin-top: 35px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #13171B;
}
.signature .img img{
  width: 102px;
  height: 86px;
}
.signature span{
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
}
.carriage{
  margin-top: 100px;
  display: flex;
}
.carriage .left_column{
  display: grid;
  gap: 50px;
}
.carriage .left_column .price_list{
  width: 95%;
}
.carriage .left_column h2{
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
  margin-bottom: 24px;
}
.carriage .left_column .price_list_pra{
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #13171B;
}
.carriage .left_column .price_list_pra span{
  font-weight: 700;
  color: #C5291E;
}
.carriage .left_column .list_question ul{
  padding: 0;
  list-style: none;
  display: grid;
  gap: 10px;
}
.carriage .left_column .list_question ul li{
  display: grid;
  border: 1px solid #9EACB6;
  padding: 15px;
  background: #FFF;
  align-items: start;
  gap: 5px;
  color: #4B5D6B;
  cursor: pointer;
}
.carriage .left_column .list_question ul li p.pra_hide{
  margin: 0;
  display: none;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.carriage .left_column .list_question ul li span.pra_question i{
  font-size: 14px;
}
.carriage .left_column .list_question ul li span.pra_question{
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  color: #13171B;
}
.carriage .left_column .list_question ul li.active{
  border: 1px solid #C5291E;
  background: #FDF6F6;
}
.carriage .left_column .list_question ul li.active span.pra_question{
  color: #C5291E;
}
.carriage .right_column .sidebar_top{
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background: #FDF6F6;
}
.carriage .right_column .sidebar_top ul{
  padding: 0;
  list-style: none;
  margin: 10px 0 0 0;
  display: grid;
  gap: 12px;
}
.carriage .right_column .sidebar_top ul li{
  padding: 10px 16px 10px 16px;
  align-items: center;
  background: #fff;
}
.carriage .right_column .sidebar_top ul li a{
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  color: #4B5D6B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carriage .right_column .sidebar_top ul li a i{
  font-size: 13px;
  color: #C5291E;
}
.carriage .right_column .sidebar_top hr,.carriage .right_column .sidebar_bottom hr{
  margin: 0.5rem 0;
  z-index: 1;
  background: #C5291E;
  transform: skew(155deg);
  width: 50px;
  height: 3px;
  margin-left: 0;
}
.carriage .right_column .sidebar_top h3{
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  color: #13171B;
}
.carriage .right_column{
  display: grid;
  gap: 24px;
  height: max-content;
}
.carriage .right_column .sidebar_bottom{
    padding: 30px;
  background: #FDF6F6;
}
.carriage .right_column .sidebar_bottom h3{
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  color: #13171B;
}
.carriage .right_column .sidebar_bottom ul{
  padding: 0;
  list-style: none;
  margin: 15px 0 0 0;
}
.carriage .right_column .sidebar_bottom ul li{
  border-bottom: 1px dashed #C5291E;
  padding: 8px 0;
}
.carriage .right_column .sidebar_bottom ul li span{
  align-items: center;
  grid-auto-flow: column;
  display: grid;
  gap: 12px;
  width: max-content;
}
.carriage .right_column .sidebar_bottom ul li span span{
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #13171B;
}
.carriage .right_column .sidebar_bottom ul li span i{
  padding: 8px;
  background: #C5291E;
  color: #fff;
  transform: skew(165deg);
  font-size: 13px;
}
.carriage .right_column .sidebar_bottom ul li:last-child{
  border-bottom: none;
}
.blog_category{
  background: none!important;
  padding: 80px 0 0 0 !important;
}
.blog_category h3.tp_title{
  text-align: center;
}
.blog_category .title > div{
  text-align: center;
}
.blog_category .arrow{
  margin: 15px auto;
}
.blog_category .button_view_all{
  margin: 40px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.blog_category .button_view_all a {
  padding: 15px 19px;
  color: #FFFFFF;
  background: #C5291E;
}
.blog_category .button_view_all a i{
  font-size: 13px;
  padding-left: 5px;
}


#grow_up,#postage {
  padding: 80px 0;
}
#grow_up h3.tp_title,#postage h3.tp_title,#contact h3.tp_title,#ecommage h3.tp_title{
  text-align: center;
}
#grow_up .title,#postage .title,#contact .title,#ecommage .title {
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
#grow_up .title > div,#postage .title > div,#contact .title > div,#ecommage .title > div {
  text-align: center;
}
#grow_up h2,#postage h2,#contact h2 ,#ecommage h2{
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
  padding: 0;
}
#grow_up .arrow,#postage .arrow,#contact .arrow,#ecommage .arrow  {
  margin: 15px auto;
}
.progresss{
  position: relative;
  display: flex;
}
.progresss .dashed{
  z-index: -1;
  transform: translate(-50%, -50%);
  height: 100%;
  position: absolute;
  border: 1px dashed #C5291E;
  top: 50%;
  left: 50%;
}
.progresss .progress_item {
  position: relative;
  justify-content: space-between;
  display: flex;
}
.progresss .progress_item .mid{
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  left: 50%;
}
.progresss .progress_item .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.progresss .progress_item .right .date{
  align-items: center;
  display: grid;
}
.progresss .progress_item .right .date .year{
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  color: #C5291E;
}
.progresss .progress_item .right .date .month{
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  color: #4B5D6B;
  margin-left: 10px;
}
.progress_total .progress_item:nth-of-type(2n) .right{
  text-align: end;
}

.progresss .progress_item .left{
  background: #FFF;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10), 0px 0px 2px 0px rgba(0, 0, 0, 0.20);
  padding: 32px;
  display: grid;
  gap: 20px;
}
.progress_total{
  display: grid;
  gap: 40px;
}
.progresss .progress_item .left .item_1 h3{
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #13171B;
}
.progresss .progress_item .left .item_1 span{
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #4B5D6B;
}
.cacl_postage .cp .wg{
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  color: #13171B;
  padding: 23px 0;
  border-bottom: 1px solid #9EACB6;
  margin: 0;
}
.cacl_postage .cp .grid_wg{
  grid-template-columns: repeat(5, 1fr);
  margin-top: 24px;
  gap: 20px;
  display: grid;
}
.cacl_postage .cp .grid_wg .item{
  padding: 15px;
  display: grid;
  text-align: center;
  justify-content: center;
  gap: 6px;
  border: 1px solid #9EACB6;
  background: #FFF;
  cursor: pointer;
}
.cacl_postage .cp .grid_wg .item svg{
  text-align: center;
  width: 100%;
}

.fill_text .form_group{
  display: flex;
  flex-direction: column;
  position: relative;
}
.fill_text .form_group input{
  border: 1px solid #9EACB6;
  background: #FFF;
  padding: 14px 50px 14px 17px;
  outline: none;
  cursor: pointer;
}
.fill_text .form_group .unit{
  bottom: 15px;
  position: absolute;
  right: 15px;
}
.fill_text .form_group select{
  border: 1px solid #9EACB6;
  background: #FFF;
  padding: 14px 17px;
  outline: none;
  cursor: pointer;
}
.fill_text .form_group select:hover {
  border-color: #C5291E;
}
.fill_text .form_group label{
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
  margin-top: 24px;
}
.fill_text .form_group label span{
  color: red;
}
.fill_text .form_group_from{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#slider_input {
  background-color: white; /* Màu nền trắng */
  height: 5px; /* Chiều cao là 5px, mặc định chiều rộng là 100% */
}
#slider_input {
  height: 5px; /* Rộng của thanh input là 5px */
}
.button_vp{
  text-align: center;
  margin-top: 40px;
}
.button_vp a{
  padding: 15px 19px;
  color: #FFFFFF;
  background: #C5291E;
}
.button_vp a i {
  padding-left: 5px;
  font-size: 12px;
}
#contact .contact{
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 30px;
  margin-bottom: 100px;
}
#contact .contact .ct{
  cursor: pointer;
  gap: 22px;
  display: flex;
  padding: 40px 25px 20px 25px;
  border: 1px dashed #C5291E;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#contact .contact .ct.active{
  background: #C5291E;

}
#contact .contact .ct.active h2,#contact .contact .ct.active span{
  color: #fff !important;
}
#contact .contact .ct .text .title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .contact .ct .text .title span{
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #4B5D6B;
}

.fill_text .form_group_contact{
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 30px;
}
.fill_text .form_group input.content{
  min-height: 200px;
}
.fill_text .form_group input::placeholder{
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  color: #4B5D6B;
  text-align: start;
}
#contact .map{
  margin-top: 100px;
  background: #FDF6F6;
}
#contact .map .mp{
  display: flex;

}
#contact .map .mp .address_vp{
  padding: 50px 20px 40px 0;
  display: grid;
  gap: 30px;
}
#contact .map .mp .iframe_vp iframe{
  width: 100%;
  height: 100%;
}
#contact .map .mp .address_vp h2{
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
}
#contact .map .mp .address_vp ul.address{
  padding: 0;
  list-style: none;
  display: grid;
  gap: 15px;

}
#contact .map .mp .address_vp ul.address li{
  border-bottom: 1px dashed #C5291E;
}
#contact .map .mp .address_vp ul.address li:last-child{
  border-bottom: none;
}
#contact .map .mp .address_vp ul.address li h4{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #C5291E;
}
#contact .map .mp .address_vp ul.address li p{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #4B5D6B;
}
