/*:root {*/

/*  --primary-button: ;*/
/*  --primary-text-button: ;*/
/*  --primary-button-hover: ;*/
/*  --primary-text-hover: ;*/
/*  --primary-text-h1: ;*/
/*  --primary-button-h2: ;*/
/*  --primary-text-h2: ;*/

/*}*/
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fBeVietnamPro-Bold.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(BeVietnamPro-SemiBold.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(BeVietnamPro-Medium.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(BeVietnamPro-Light.ttf);
}
@font-face {
  font-family: 'BeVietnamPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(BeVietnamPro-Regular.ttf);
}
body {
  font-family: 'BeVietnamPro' !important;
  margin: 0;
}
body a{
  text-decoration: none !important;
}
@media (min-width: 1200px){
  .container, .container-fluid{
    padding: 0 15px;
  }
  .container-fluid {
    padding: 0 35px !important;
  }
  .container {
    max-width: 1250px !important;
  }
}
@media (max-width: 1200px){
  .container,.container-fluid {
    max-width: 100% !important;
    padding: 0 15px;
  }
}
.header-menu{
  width: 100%;
  margin: 0 !important;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background: #FDF6F6;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.txt-header--left {
  padding-left: 30px;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}
.txt-header--left .mail_topbar i,.txt-header--left .telephone_topbar i{
  font-size: 13px;
  color: #C5291E;
}
.txt-header--left span,.txt-header--left .telephone_topbar span{
  font-size: 15px;
}
.txt-header--left .mail_topbar{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}
.txt-header--left .telephone_topbar{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}
.header-right .menu_d-none{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 45px;
}
.header-right .header-right_registed {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}
.header-right .header-right_social {
  height: 55px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.header-right .header-right_registed a{
  font-size: 14px;
font-style: normal;
font-weight: 400;
color: #262E36;
}
.header-right .header-right_social .icon {
  border-radius: 50%;
  border-left: 1px dashed #C5291E;
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-right .header-right_social .icon a {
  color: #333;
}
img{
  width: 100%;
}
.header-menu .menu_head_mb_desktop{
  padding-right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.main_menu .nav_bar{
  width: 100px;
}
.menu_head_mb_desktop .main_menu {
  gap: 35px;
  justify-content: end;
  align-items: center;
  height: 100%;
  grid-auto-flow: column;
  width: 100%;
  display: grid;
}
.header-menu{
  display: flex;
  height: 100px;
  background: #262E36;
  align-items: center;
}
.header-menu .logo-pc img{
  width: 165px;
  height: 80px;
}
.header-menu .logo-pc {
  padding-left: 40px;
}
.header-menu .main_menu ul{
  justify-content: center;
  margin-bottom: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 30px;
}
.header-menu .main_menu ul li{
  list-style: none;
}
/* .header-menu .main_menu ul li.menu_item:hover .sub_menu{
  display: block;
} */
.header-menu .main_menu ul li>ul{
  display: none;
}
.header-menu .main_menu ul li.menu_item.active a{
  color: #C5291E;
}
.header-menu .main_menu ul li.menu_item:last-child a{
  padding: 15px 20px;
justify-content: center;
align-items: center;
background-color: #C5291E;
}
.header-menu .main_menu ul li a{
  font-size: 14px;
font-style: normal;
font-weight: 600;
text-transform: uppercase;
color: #FFFFFF;
}
.header-menu .main_menu ul li a i {
  padding-left: 8px;
  font-size: 13px;
}
.search_delivery{
  margin: 60px 220px;
  background: url(img/background_delivery.png), lightgray 50% / cover no-repeat;
  background-color: #C5291E !important;
}
.search_delivery .search_in{
  padding: 30px 45px;
}
.search_delivery .search_in .title_search h3{
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
.search_delivery .search_in .title_search{
  margin-bottom: 20px;
}
.search_delivery .search_in form{
  width: 100%;
    display: flex;
    position: relative;
}
.search_delivery .search_in form input{
  width: 100%;
  outline: none;
  padding: 10px;
}
.search_delivery .search_in form .check{
  height: 100%;
  align-items: center;
  display: grid;
  position: absolute;
  right: 20px;
  grid-auto-flow: column;
  gap: 10px;
}
.search_delivery .search_in form .check p{
  margin: 0;
  font-size: 14px;
font-style: normal;
font-weight: 600;
color: #C5291E;
text-transform: uppercase;
}
.search_delivery .search_in form .check i{
  color: #C5291E;
  font-size: 13px;
}
h3.tp_title{
  font-size: 17px;
font-style: normal;
font-weight: 600;
color: #C5291E;
margin: 0;
}
.all_service .title_service .title{
  margin-top: 15px;
  justify-content: space-between;
    display: flex;
    align-items: end;
}
.all_service .title_service .title h2{
  margin: 0;
  font-size: 48px;
font-style: normal;
font-weight: 700;
color: #13171B;
padding: 0;
}
.all_service .title_service .title .button_view_all{
  display: flex;
  justify-content: end;
}
.all_service .title_service .title .button_view_all a{
  padding: 15px 19px;
  color: #FFFFFF;
  background: #C5291E;
}
.all_service .title_service .title .button_view_all a i{
  padding-left: 5px;
  font-size: 12px;
}
.arrow hr.left{
  width: 30px;
  background: #C5291E;
  height: 1.4px;
}
.arrow hr.right{
  width: 200px;
  background: #C5291E;
  height: 1.4px;
}
.arrow i{
  color: #C5291E;
  font-weight: 700;
  font-size: 13px;
}
.arrow .i_arrow{
  display: grid;
    grid-auto-flow: column;
}
.arrow{
  margin-top: 20px;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: max-content;
}
.box_home{
  margin-top: 35px;
}
.box_service{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.box_service .box_item{
  position: relative;
}
.box_service .box_item .intro_box{
  font-size: 20px;
  right: 25%;
  font-weight: 700;
  color: #fff;
  position: absolute;
  bottom: 25px;
}
.about_me{
  margin-top: 100px;
}
.about_me .title {
  margin-top: 15px;
  justify-content: space-between;
  display: flex;
  align-items: end;
}
.about_me .title  h2 {
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  color: #13171B;
  padding: 0;
}
.about_me .title .intro_title{
  padding: 0px 0 0 150px;
}
.about_me .title .intro_title p{
  margin: 0;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}